@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  cursor: pointer;
}
a.logout {
  position: absolute;
  bottom: 0;
  left: 10%;
  color: blue;
  /* transform: translate(-50%, 50%); */
}
input.pinCode, input.confirm, input#loginPin{
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

button {
  border-radius: 20px;
  border: 1px solid #080808;
  background-color: #0a0a0a;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

button:active {
  transform: scale(0.7);
}

button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}
#backToMain{
  border: 1px solid black;
  color: black;
  margin-top: 1rem;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #0e0d0d;
  background: -webkit-linear-gradient(to right, #0e0d0d, #0e0d0d);
  background: linear-gradient(to right, #1a1919, #0a0a0a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.form-control {
  width: 100%;
  text-align: justify;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  position: relative;
}
.form-control input {
  width: inherit;
  padding: 10px;
  font-size: 0.9rem;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}
.form-control .error,
.form-control .success {
  position: absolute;
  top: 13px;
  right: 10px;
  visibility: hidden;
}
.form-control .error {
  animation: grow 1s linear infinite;
}
small {
  font-size: 12px;
  visibility: hidden;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.form-control.error input {
  border: 2px solid #cc0000;
}
.form-control.success input {
  border: 2px solid #0cc00c;
}
.form-control.error .error,
.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}
.form-control.success .success {
  visibility: visible;
  color: #0cc00c;
}

.buttons button {
  padding: 0rem;
  width: 95px;
  height: 40px;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #222;
}
.verfiyUserPinCode input {
  cursor: not-allowed;
}

@media screen and (max-width: 540px) {
  .buttons button {
    padding: 0rem;
    width: 104px;
    height: 35px;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #222;
    margin: 0.5rem;
  }
  /* .buttons button {
    padding: 0rem;
    width: 104px;
    height: 35px;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #FFFFFF;
    color: #222;
    margin: .5rem;
  } */
}

@media screen and (max-width: 769px) {
  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 800px;
  }

  .form-container {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
    /* transform: scale(0.8); */
  }

  .sign-in-container {
    left: 0;
    width: 100%;
    z-index: 2;
    transform: translateY(10%);
    /* bottom: 0 !important; */
  }

  .container.right-panel-active .sign-in-container {
    transform: translateY(-50%);
  }

  .sign-up-container {
    left: 0;
    width: 100%;
    opacity: 0;
    /* bottom: 0; */
    z-index: 1;
    /* transform: scale(.7); */
  }

  .container.right-panel-active .sign-up-container {
    transform: translateY(10%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 35%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateY(0%);
  }

  .overlay {
    background: #0e0d0d;
    background: -webkit-linear-gradient(to right, #0e0d0d, #0e0d0d);
    background: linear-gradient(to right, #1a1919, #0a0a0a);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateY(0%);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateY(0%);
  }
h1#Create_account{
  /* display: none; */
  font-size: 1.7rem;
  margin-top: .5rem;
}
  .container.right-panel-active .overlay-left {
    transform: translateY(10%);
  }

  .overlay-right {
    right: 0;
    transform: translateY(10%);
  }

  .container.right-panel-active .overlay-right {
    transform: translateY(50%);
  }
  a.logout{
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 465px) {
  .buttons button {
    padding: 0rem;
    width: 60px;
    height: 30px;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 0.7rem;
    background-color: #ffffff;
    color: #222;
    margin: 0.5rem;
    transform: translateY(30%);
  }
  #backToMain {
    transform: translateY(40px);
  }
}


.loader-container{
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #00000098;
  display: flex;
  justify-content: center;
  align-items:center;
  /* display: none; */
}
.loader {
  width: 5rem;
  height: 5rem;
  font-size: 25px;
  box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
  
}
button, input{
  font-family: "Montserrat";
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid gold;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}

@keyframes rotating {
  50% {
      transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
      transform: rotate(calc(360deg * var(--direction)));
  }
}
