@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
.popup-notification{
  width: 400px;
  height: 150px;
  top: 0;
  right: 50%;
  max-width: 100%;
  display: none;
  z-index: 10000;
  /* z-index: 99; */
  text-align: center;
  position: absolute;
  border-radius: 5px;
  background-color: #0cc00c;
  transform: translate(50%, 10%);
  box-shadow: 2px 2px 5px #91909057;
  padding: .5rem 1rem;
  animation: alert .5s linear 0s;
  color: white;
}
.popup-notification button{
  width: 60px;
  padding: 0;
  margin: 0;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  color: #111;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateY(-50%);
}
.type-of-notification{
  display: flex;
  width: 30%;
  height: 15px;
  margin: 0.5rem auto;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
.type-of-notification h3{
  padding-left: .5rem;
  transform: translateY(0%);

}
.popup-notification p{
  font-size: 1rem;
  padding: .5rem 0;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700;
}
.errorInstance, .error-header{
  display: none;
}

.notify .errorInstance,.notify .error-header{
  display: block;
}
.notify .success-header, .notify .sucessInstance{
  display: none;
}
.notify {
  background-color: #f70c0c;
  color: #fff;
}

@keyframes alert {
  from{top: -50%;opacity: 0; }
  to{top: 0; opacity: 1;}
}