@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 300 !important;
  font-family: 'Montserrat', sans-serif;
}
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    margin: auto;
  }
  div.caption{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 0 5%;
      background: black;
      color: #fff;
      margin-bottom: 1rem;
    }
    h1{
      font-size: 1.3rem;

  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    /* display: inline-block; */
  }
  table tr {
    border: 1px solid #ddd;
    padding: .35em;
  }
  table tr:nth-child(even) {
    background: #f8f8f8;  
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
    border: 1px solid #eee;
  }
  table th {
    background: #111;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a{
      background-color: black;
      padding:  .7rem 3rem;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border-radius: 25px;
  }
  .links{
width: 50%;
margin: 2rem auto;
display: flex;
justify-content: space-between;

  }
  #print{
    pointer-events: all;
  }
  #print.removePointerEvents{
    pointer-events: none;
    background-color: #cecece;
    color: #9e9e9e;
  }
  @media screen and (max-width:786px) {
    body{
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    div.caption{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      flex-direction: column;
      padding: 0 5%;
      background: black;
      color: #fff;
      margin-bottom: 1rem;
    }
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      table-layout: fixed;
      width: 140%;
      margin: 0;
      transform: scale(.7);
    }
    div.caption{
        width: 100%;
        display: flex;
    }
  
    table tr {
      border: 1px solid #ddd;
      padding: .35em;
    }
    table tr:nth-child(even) {
      background: #f8f8f8;  
    }
    table th,
    table td {
      padding: .625em;
      text-align: center;
      border: 1px solid #eee;
    }
    table th {
      background: #111;
      color: #fff;
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .links{
      /* margin: 0 auto; */
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }
    #print{
      font-size: 1rem;
     /* padding:  .5rem 1rem .5rem 1rem; */
     /* width: 150px; */
     text-align: center;
     margin: 1rem 0;
      
    }
    a{
        background-color: black;
        /* padding:  .7rem 3rem; */
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        /* position: absolute; */
        /* margain:0 auto; */
        /* margin-top: 5%; */
        border-radius: 25px;
        /* position: absolute; */
        /* left: 50%; */
        /* transform: translate(-50%, 50%); */
    }
  }